.about {
  display: flex;
  align-items: end;
  margin-bottom: 235px !important;
  &__container {
    display: flex;
  }

  &__text {
    h1 {
      font-size: 3.704vw;
      font-weight: 700;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      margin-right: 1.273vw;
    }
  }

  &__image {
    width: calc(50% + 86px);
    img {
      width: 42.245vw;
      height: 47.627vw;
    }
  }

  &__paragraph {
    width: 50%;
    font-weight: 300;
    font-size: 1.39vw;
    line-height: 1.68vw;
    font-weight: 300;
    text-align: justify;
    p {
      position: relative;
      width: calc(100% + 3.472vw);
    }
  }
}
@include for-tablet-portrait-up {
  .about {
    flex-direction: column;
    margin-bottom: 84px !important;
    &__container {
      width: 100%;
      margin-bottom: 39px;
      h1 {
        font-size: 64px;
        line-height: 76px;
        letter-spacing: 0.04em;
        margin: 0;
        margin-left: -12px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__paragraph {
      font-size: 14px;
      width: 100%;
      line-height: 22px;
      order: 2;
      p {
        width: 100%;
      }
    }
  }
}
