.has-fade {
  display: none;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fadae-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: hidden;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
