.carousel {
  width: 100%;
  overflow-x: scroll;
  user-select: none;
  box-shadow: 0 0 10px black;
  box-sizing: content-box;
  &__wrapper {
    display: flex;
    transform: translateX(0);
    img {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }
}
