.carousel {
  width: 100%;
  overflow-x: scroll;
  user-select: none;
  &__wrapper {
    @include flex($wrap: nowrap);
    transform: translateX(0);
    gap: 10px;
    img {
      @include adaptiv-value("width", 265.53, 380);
      @include adaptiv-value("height", 349.38, 500);
      pointer-events: none;
    }
  }
}
