.carousel {
  width: 100%;
  overflow-x: scroll;
  user-select: none;
  &__wrapper {
    display: flex;
    transform: translateX(0);
    gap: 33px;
    img {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }
}
