.contacts {
  @include adaptiv-value("padding", 40, 120);
  h1 {
    @include adaptiv-value("font-size", 24, 36);
    @include adaptiv-value("margin-bottom", 56, 80);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__content {
    @include flex(space-between, start);
  }
  &__map {
    width: 40%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__card {
    @include flex(start);
    @include adaptiv-value("gap", 8, 20);
    flex-direction: column;

    img {
      width: 36px;
      height: 36px;
    }
    h5 {
      &::first-letter {
        text-transform: capitalize;
      }
      font-family: "Assistant";
      text-align: center;
      @include adaptiv-value("font-size", 18, 24);
      font-weight: 600;
    }
    p {
      font-family: "Assistant";
      @include adaptiv-value("font-size", 14, 18);
      text-align: center;
    }
  }
}

@include for-tablet-portrait-up {
  .contacts {
    &__content {
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    &__card {
      margin-bottom: 16px;
    }
    &__map {
      width: 100%;
    }
  }
}
