.footer {
  background: $colorMain;
  color: $colorMainLighter;

  &__wrapper {
    @include flex(space-between);
    font-family: "Assistant";
    font-size: 14px;
    font-weight: 300;
  }
  a {
    color: $colorMainLighter;
  }
  &__header {
    max-width: 25%;
    padding: 20px 0;
    h1 {
      margin-bottom: 12px;
      a {
        font-family: "Didot";
        font-size: 36px;
        display: flex;

        &:hover {
          color: $colorMainDark;
        }
      }
    }
    p {
      font-weight: 100;
    }
  }
  &__menu {
    width: 25%;
    padding: 20px;

    &__links {
      display: flex;
      justify-content: space-between;
      &__side {
        display: flex;
        justify-content: center;
        width: 50%;
        flex-direction: column;
        a {
          padding: 6px;
        }
      }
    }
  }
  &__socials {
    max-width: 25%;
    padding: 20px;
    h6 {
      font-weight: 600;
      margin-bottom: 12px;
    }
    &__icons {
      margin-bottom: 12px;
      img {
        padding-right: 6px;
      }
    }
    &__button {
      button {
        @include button($colorMainLighter, 32, 10, 10, 16px);
      }
    }
  }
  &__address {
    h6 {
      padding-bottom: 12px;
      font-weight: 600;
    }

    max-width: 25%;
    padding: 12px;
  }
  &__design {
    text-align: right;
    padding: 8px 0;
    background-color: $colorMainDark;
    font-size: 14px;
    font-family: "Assistant";
    font-weight: 300;
  }
}

@include for-tablet-portrait-up {
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__header,
    &__menu,
    &__menu__links,
    &__socials,
    &__address {
      max-width: 100%;
      width: 100%;
      @include flex;
      flex-direction: column;
      text-align: center;
    }
    &__socials__button {
      button {
        left: 0;
      }
    }
    &__design {
      text-align: center;
    }
  }
}
