@mixin burgerLine($top) {
  content: "";
  position: absolute;
  top: $top;
  display: block;
  width: 30px;
  height: 2px;
  background: $colorMainDark;
}
.header {
  overflow: hidden;
  @include adaptiv-value("padding", 24, 51);
  &__container {
    @include flex(space-between, baseline, nowrap);

    .burger {
      display: none;
      &__line {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        background: $colorMainDark;
        transition: all 0.25s ease;
        &::before {
          @include burgerLine(-7px);
        }
        &::after {
          @include burgerLine(-14px);
        }
      }
      &__menu {
        display: flex;
        flex-direction: column;
        background: $colorMainLight;
        height: 0;
        width: 100%;
        overflow: hidden;
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.25s ease;
      }
      &__link {
        color: $colorMainDark;
        line-height: 18px;
        margin-bottom: 16px;
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]:checked ~ .burger__menu {
        height: 100vh;
        width: 100%;
        overflow: visible;
        padding: 24px;
        z-index: 50;
      }
      input[type="checkbox"]:checked ~ label .burger__line {
        top: -7px;
        transform: rotate(50deg);
      }
      input[type="checkbox"]:checked ~ label .burger__line::before {
        transform: rotate(80deg);
        top: 0;
      }
      input[type="checkbox"]:checked ~ label .burger__line::after {
        width: 0;
      }
      label {
        position: relative;
        z-index: 200 !important;
      }
    }
  }
}
.menu {
  display: flex;
  align-items: baseline;
  width: 100%;
  a {
    color: #8d8193;
    &:hover {
      color: $colorMainDark;
    }
  }
  &__logo {
    font-family: "Didot";
    @include adaptiv-value("font-size", 32, 36);
    display: flex;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    white-space: nowrap;
    margin-left: 3%;
  }
  &__link {
    @include adaptiv-value("font-size", 14, 20);
  }
}
.header__lang {
  display: flex;
  align-items: center;
  img {
    width: 21px;
    height: 15px;
  }
}
.lang {
  &__select {
    border: none;
    outline: none;
    background-color: $colorMainLighter;
    cursor: pointer;
    color: $colorMain;
    font-weight: 300;
    font-size: 14px;
  }
}
@include for-tablet-portrait-up {
  .header {
    margin-bottom: 140px;
  }
  .menu {
    justify-content: space-between;
    align-items: baseline;
  }
  .burger {
    display: block !important;
    &__link {
      font-size: 14px;
    }
  }
  .menu__list,
  .lang {
    display: none;
  }
}
