.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./../images/hero-image.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: 0 0 90px 90px $colorMainLighter inset;
  margin-bottom: 118px !important;
  &__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.24vw;
    span {
      display: inline-block;
      font-size: 64px;
      font-weight: 600;
      letter-spacing: 0.19em;
    }
    span:first-child {
      margin-bottom: 25px;
    }
  }

  &__paragraph {
    line-height: 39px;
    width: 684px;
    font-size: 32px;
    margin-bottom: 4.63vw;
  }

  &__button {
    font-size: 24px;
    padding: 19px 24px;
    z-index: 1;
    cursor: pointer;
    color: $colorMainDark;
    margin-bottom: 24vw;
    transition: all 0.25s ease;
    border: none;
    outline: 2px black;
    // border-top: 2px solid $colorMainDark;
    // border-bottom: 2px solid $colorMainDark;
    background: transparent;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 192px);
      height: 26px;
      border-top: 1px solid $colorMainDark;
      border-left: 1px solid $colorMainDark;
      border-right: 1px solid $colorMainDark;
      left: -96px;
      top: 0px;
      border-radius: 60px 60px 0 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 192px);
      height: 26px;
      border-left: 1px solid $colorMainDark;
      border-right: 1px solid $colorMainDark;
      border-bottom: 1px solid $colorMainDark;
      left: -96px;
      bottom: 0px;
      border-radius: 0 0 60px 60px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

@include for-tablet-portrait-up {
  .hero {
    box-shadow: 0 0 8px 8px $colorMainLighter inset;
    background-size: 150%, 100%, cover;
    margin-bottom: 24px !important;
    &__text {
      margin-bottom: 40px;
      span {
        font-size: 32px;
      }
      span:first-child {
        margin-bottom: 8px;
      }
    }
    &__paragraph {
      line-height: 17px;
      font-size: 14px;
      width: 300px;
      margin-bottom: 80px;
    }
    &__button {
      font-size: 12.5px;
      padding: 10px;
      margin-bottom: 250px;
      &::before {
        width: calc(100% + 100px);
        height: 10px;
        left: -50px;
      }
      &::after {
        width: calc(100% + 100px);
        height: 10px;
        left: -50px;
      }
    }
  }
}
