.hours {
  margin-bottom: 240px !important;
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  &__image {
    display: none;
  }
  &__table {
    background-image: url("./../images/coiffeur-hours.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    font-family: "Assistant";
    display: flex;
    justify-content: end;
    align-items: center;
    table {
      td {
        padding: 14px;
      }
      background: $colorMainLighter;
    }
    &__pt-0 {
      padding-top: 0 !important;
    }
    &__pb-0 {
      padding-bottom: 0 !important;
    }
  }
}

@include for-tablet-portrait-up {
  .hours {
    margin-bottom: 80px !important;
    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }

    &__table {
      font-size: 14px;
      background: transparent;
      justify-content: center;
      table {
        tr {
          td:last-child {
            padding-left: 26px;
          }
        }
      }
    }
    &__image {
      display: block;
      margin-bottom: 24px;
      img {
        width: 100%;
      }
    }
  }
}
