.reviews {
  @include adaptiv-value("padding", 40, 120);
  &__header {
    h1 {
      @include adaptiv-value("font-size", 24, 36);
      @include adaptiv-value("margin-bottom", 56, 80);
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &__wrapper {
    @include flex($wrap: nowrap, $gap: 40px);
    position: relative;
  }
}
.review {
  margin-bottom: 24px;
  @include adaptiv-value("font-size", 14, 24);
  h4 {
    font-weight: 600;
    text-transform: capitalize;
  }
  &__time {
    font-weight: 100;
    color: $colorMain;
    padding: 8px 0;
  }
  p {
    font-weight: 300;
    @include adaptiv-value("line-height", 22, 29);
    text-align: justify;
  }
}
@include for-tablet-portrait-up {
  .reviews {
    &__left_side {
      display: none;
    }
  }
}
