.services {
  @include adaptiv-value("padding", 40, 120);
  .service {
    &__description {
      text-align: center;
      h1 {
        font-weight: 600;
        @include adaptiv-value("font-size", 24, 36);
        text-transform: uppercase;
      }
      p {
        &::first-letter {
          text-transform: capitalize;
        }
        font-weight: 300;
        @include adaptiv-value("font-size", 14, 24);
        @include adaptiv-value("line-height", 22, 29);
        @include adaptiv-value("padding-bottom", 56, 80);
        @include adaptiv-value("padding-top", 16, 80);
      }
    }
    &__card_list {
      @include flex($gap: 20px);
      @include adaptiv-value("margin-bottom", 80, 240);
      &__item {
        text-align: center;
        padding: 56px 47px;
        background: $colorMainLight;
        border-radius: 40px;
        h3 {
          font-family: "Assistant";
          font-size: 24px;
          margin-bottom: 40px;
          &::first-letter {
            text-transform: capitalize;
          }
        }
        &__image {
          width: 248px;
          height: 320px;
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &__wrap {
        @include flex($gap: 20px);
      }
    }
  }
}

@mixin arrow($top, $rotate) {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background: $colorMainDark;
  right: -1px;
  top: $top;
  transform: rotate($rotate);
}

.arrow-container {
  cursor: pointer;
  margin: 30px auto 0;
  padding: 10px;
}
.arrow {
  margin: 0 auto;
  width: 88px;
  height: 1px;
  background: $colorMainDark;
  position: relative;
  left: 0;
  &::before {
    @include arrow(-3px, 45deg);
  }
  &::after {
    @include arrow(3px, -45deg);
  }
}
