// Colors
$colorMain: #8d8193;
$colorMainDark: #54425f;
$colorMainLight: #f2e6f5;
$colorMainLighter: #f6f0f8;
$colorGrey: #d5d5d5;

// Fonts
$fontMain: "Inter", sans-serif;
$fontSecondary: "Assistant";
$fontMainColor: $colorMainDark;
$fontMainSize: 24px;

@mixin adaptiv-value($property, $minSize, $maxSize) {
  @if $property == "padding" {
    #{$property}: calc(
        #{$minSize +
          px} +
          (#{$maxSize} - #{$minSize}) *
          ((100vw - 390px) / (1728 - 390))
      )
      0;
  } @else {
    #{$property}: calc(
      #{$minSize +
        px} +
        (#{$maxSize} - #{$minSize}) *
        ((100vw - 390px) / (1728 - 390))
    );
  }
}

@mixin flex($justify: center, $align: center, $wrap: wrap, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}
