// Colors
$colorMain: #8d8193;
$colorMainDark: #54425f;
$colorMainLight: #f2e6f5;
$colorMainLighter: #f6f0f8;
$colorGrey: #d5d5d5;

// Fonts
$fontMain: "Inter", sans-serif;
$fontSecondary: "Assistant";
$fontMainColor: black;
$fontMainSize: 0.875rem; // 14px;
$fontHeaderSize: 2rem; // 32px

// Sizes
$header-height: 90px;
