.works {
  margin-bottom: 262px !important;
  h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 109px;
    text-align: center;
  }
}
@include for-tablet-portrait-up {
  .works {
    margin-bottom: 80px !important;
    h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}
