.works {
  @include adaptiv-value("padding", 40, 120);
  h1 {
    @include adaptiv-value("font-size", 24, 36);
    font-weight: 600;
    text-transform: uppercase;
    @include adaptiv-value("margin-bottom", 40, 80);
    text-align: center;
  }
}
