html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 375px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #54425f;
  background-color: #f6f0f8;
  box-sizing: border-box;
}
body.noscroll {
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.wrapper ._container {
  margin: 0 auto;
  max-width: 95%;
}

@media (max-width: 768px) {
  ._container {
    max-width: 100% !important;
  }
}
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.header {
  margin-top: 3.7vw;
  margin-bottom: 10vw;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__container .burger {
  display: none;
}
.header__container .burger__line {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background: #54425f;
  transition: all 0.25s ease;
}
.header__container .burger__line::before {
  content: "";
  position: absolute;
  top: -7px;
  display: block;
  width: 30px;
  height: 2px;
  background: #54425f;
  transition: all 0.25s ease;
}
.header__container .burger__line::after {
  content: "";
  position: absolute;
  top: -14px;
  display: block;
  width: 30px;
  height: 2px;
  background: #54425f;
}
.header__container .burger__menu {
  display: flex;
  flex-direction: column;
  background: #f2e6f5;
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.25s ease;
}
.header__container .burger__link {
  width: 50%;
  color: #54425f;
  line-height: 18px;
  margin-bottom: 16px;
}
.header__container .burger input[type=checkbox] {
  display: none;
}
.header__container .burger input[type=checkbox]:checked ~ .burger__menu {
  height: 100%;
  width: 100%;
  overflow: visible;
  padding: 24px;
}
.header__container .burger input[type=checkbox]:checked ~ label .burger__line {
  top: -7px;
  transform: rotate(50deg);
}
.header__container .burger input[type=checkbox]:checked ~ label .burger__line::before {
  transform: rotate(90deg);
  top: 0;
}
.header__container .burger input[type=checkbox]:checked ~ label .burger__line::after {
  width: 0;
}
.header__container .burger label {
  position: relative;
  z-index: 200 !important;
}

.menu {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.menu a {
  color: #8d8193;
}
.menu a:hover {
  color: #54425f;
}
.menu__logo {
  font-family: "Didot";
  font-size: 36px;
  display: flex;
}
.menu__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  white-space: nowrap;
  margin-left: 3%;
}
.menu__link {
  font-size: 14px;
}

.header__lang {
  display: flex;
  align-items: center;
}
.header__lang img {
  width: 21px;
  height: 15px;
}

.lang__select {
  border: none;
  outline: none;
  background-color: #f6f0f8;
  cursor: pointer;
  color: #8d8193;
  font-weight: 300;
  font-size: 14px;
}
@media (max-width: 768px) {
  .header {
    margin: 0;
  }
  .menu {
    justify-content: space-between;
    align-items: baseline;
  }
  .burger {
    display: block !important;
  }
  .menu__list,
  .lang {
    display: none;
  }
}
@media (min-width: 1024px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .menu__item {
    margin-left: 4.5%;
  }
  .menu__link {
    font-size: 20px;
  }
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./../images/hero-image.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: 8px 8px 8px 8px #f6f0f8 inset;
}
.hero__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.24vw;
}
.hero__text span {
  display: inline-block;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0.19em;
}
.hero__text span:first-child {
  margin-bottom: 25px;
}
.hero__paragraph {
  width: 684px;
  font-size: 32px;
  margin-bottom: 4.63vw;
}
.hero__button {
  font-size: 24px;
  padding: 19px 24px;
  z-index: 1;
  cursor: pointer;
  color: #54425f;
  margin-bottom: 24vw;
  transition: all 0.25s ease;
  border: none;
  outline: 2px black;
  background: transparent;
  position: relative;
}
.hero__button::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 192px);
  height: 26px;
  border-top: 1px solid #54425f;
  border-left: 1px solid #54425f;
  border-right: 1px solid #54425f;
  left: -96px;
  top: 0px;
  border-radius: 60px 60px 0 0;
}
.hero__button::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 192px);
  height: 26px;
  border-left: 1px solid #54425f;
  border-right: 1px solid #54425f;
  border-bottom: 1px solid #54425f;
  left: -96px;
  bottom: 0px;
  border-radius: 0 0 60px 60px;
}
.hero__button:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .hero {
    background-size: 150%, 100%, cover;
  }
  .hero__text {
    margin-bottom: 40px;
  }
  .hero__text span {
    font-size: 32px;
  }
  .hero__text span:first-child {
    margin-bottom: 8px;
  }
  .hero__paragraph {
    font-size: 14px;
    width: 300px;
    margin-bottom: 80px;
  }
  .hero__button {
    font-size: 12.5px;
    padding: 10px;
    margin-bottom: 250px;
  }
  .hero__button::before {
    width: calc(100% + 100px);
    height: 10px;
    left: -50px;
  }
  .hero__button::after {
    width: calc(100% + 100px);
    height: 10px;
    left: -50px;
  }
}/*# sourceMappingURL=style.css.map */